<div *ngIf="showOnMapa" (furyClickOutside)="onClickOutside()" class="toolbar-notifications">
  <button
    (click)="toggleDropdown()"
    [class.open]="isOpen"
    class="button-message button-message--cta"
    mat-button
    type="button"
    aria-label="Ver simbología del mapa"
    title="Ver simbología del mapa">
    <span class="button-message__pulse" aria-hidden="true"></span>
    <span class="button-message__pulse button-message__pulse--delayed" aria-hidden="true"></span>
    <mat-icon class="icon">
      location_on
    </mat-icon>
  </button>

  <div [class.open]="isOpen" class="dropdown">
    <fury-card>
      <fury-card-header class="dropdown-header">
        <fury-card-header-heading class="symbology-title-line">
          Simbología para conocer el estado en el
        </fury-card-header-heading>
        <fury-card-header-heading class="symbology-title-line">
          se encuentra el establecimiento comercial.
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content class="dropdown-card-content">
        <fury-scrollbar class="dropdown-content">
          <div fxLayout="column">
            <ng-container *ngFor="let notification of notifications">
              <div [@listFade] [class.read]="notification.read" [ngClass]="notification.color" class="notification">
                <mat-icon class="icon">{{ notification.icon }}</mat-icon>
                <div class="name">{{ notification.name }}</div>
              </div>
            </ng-container>
          </div>
          <div *ngIf="notifications.length === 0" [@listFade] class="empty">
            All fine! No notifications right now.
          </div>
        </fury-scrollbar>
      </fury-card-content>
    </fury-card>
  </div>
</div>